<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin Dashboard - add2Kart</title>

    <link rel="stylesheet" href="/css/adminDashboard.css">
    <link rel="stylesheet" href="/css/adminNavbar.css">

</head>


<body>


    <div class="admin-container">


        <!-- Sidebar -->

    <%- include("../partials/adminNavbar") %>


        <!-- Main Content -->

        <main class="main">


            <div class="topbar">

                <h1>
                    Dashboard
                </h1>


                <div class="admin-profile">

                    Admin

                </div>


            </div>





            <!-- Cards -->


            <section class="cards">


                <div class="card">

                    <h3>
                        Total Users
                    </h3>

                    <p>
                        <%= totalUsers %>
                    </p>

                </div>





                <div class="card">

                    <h3>
                        Total Products
                    </h3>

                    <p>
                        <%= totalProducts %>
                    </p>

                </div>





                <div class="card">

                    <h3>
                        Total Orders
                    </h3>

                    <p>
                        <%= totalOrders %>
                    </p>

                </div>





                <div class="card">

                    <h3>
                        Revenue
                    </h3>

                    <p>
                        ₹<%= totalRevenue %>
                    </p>

                </div>


            </section>




            <!-- Recent Orders -->


            <!-- <section class="table-section">


                <h2>
                    Recent Orders
                </h2>


                <table>


                    <tr>

                        <th>
                            Order ID
                        </th>

                        <th>
                            Customer
                        </th>

                        <th>
                            Amount
                        </th>

                        <th>
                            Status
                        </th>

                    </tr>



                    <tr>

                        <td>
                            #101
                        </td>

                        <td>
                            Dipak
                        </td>

                        <td>
                            ₹1599
                        </td>

                        <td>
                            Delivered
                        </td>

                    </tr>



                    <tr>

                        <td>
                            #102
                        </td>

                        <td>
                            Rahul
                        </td>

                        <td>
                            ₹999
                        </td>

                        <td>
                            Pending
                        </td>

                    </tr>


                </table>


            </section> -->



        </main>


    </div>


</body>

</html>