<!DOCTYPE html>
<html>

<head>

    <title>Orders - Admin</title>

    <link rel="stylesheet" href="/css/adminOrders.css">
    <link rel="stylesheet" href="/css/adminNavbar.css">
        <link rel="shortcut icon" href="/images.png" type="image/x-icon">


</head>


<body>

    <%- include("../partials/adminNavbar")%>


    <div class="container">


        <h1>
            All Orders
        </h1>



        <div class="table-box">


            <table>


                <thead>

                    <tr>

                        <th>
                            Order ID
                        </th>


                        <th>
                            Customer
                        </th>


                        <th>
                            Address
                        </th>


                        <th>
                            Product
                        </th>


                        <th>
                            Qty
                        </th>


                        <th>
                            Amount
                        </th>


                        <th>
                            Payment
                        </th>


                        <th>
                            Status
                        </th>


                        <th>
                            Date
                        </th>


                    </tr>


                </thead>



                <tbody>



                    <% orders.forEach(order=>{ %>


                        <tr>


                            <td>
                                #<%= order.order_id %>abc
                            </td>



                            <td>

                                <p>
                                    <%= order.username %>
                                </p>

                                <small>
                                    <%= order.email %>
                                </small>

                            </td>




                            <td>

                                <%= order.full_name %><br>

                                    <%= order.phone %><br>

                                        <%= order.house_no %>,
                                            <%= order.street %><br>

                                                <%= order.city %>,
                                                    <%= order.state %><br>

                                                        <%= order.pincode %>


                            </td>




                            <td class="product">


                                <img src="<%= order.image %>">


                                <span>
                                    <%= order.product_name %>
                                </span>


                            </td>



                            <td>

                                <%= order.quantity %>

                            </td>



                            <td>

                                <%= order.total_amount %>

                            </td>




                            <td>

                                <%= order.payment_method %>

                            </td>



                            <td>

                                <span class="status">

                                    <%= order.order_status %>

                                </span>

                            </td>



                            <td>

                                <%= order.created_at.toDateString() %>

                            </td>



                        </tr>


                        <% }) %>



                </tbody>


            </table>


        </div>


    </div>


</body>

</html>