<!DOCTYPE html>
<html>

<head>

    <title>Users - Admin</title>

    <link rel="stylesheet" href="/css/adminUsers.css">
    <link rel="stylesheet" href="/css/adminNavbar.css">
        <link rel="shortcut icon" href="/images.png" type="image/x-icon">


</head>


<body>

<%- include("../partials/adminNavbar")%>
    <div class="container">


        <h1>
            Users Management
        </h1>



        <div class="table-box">


            <table>


                <thead>

                    <tr>

                        <th>ID</th>

                        <th>User</th>

                        <th>Email</th>

                        <th>Phone</th>

                        <th>Address</th>

                        <th>Role</th>

                        <th>Joined</th>

                        <th>Action</th>


                    </tr>


                </thead>



                <tbody>


                    <% users.forEach(user=> { %>


                        <tr>


                            <td>

                                <%= user.id %>

                            </td>



                            <td>

                                <%= user.username %>

                                    <br>

                                    <small>
                                        <%= user.full_name || "No Name" %>
                                    </small>

                            </td>




                            <td>

                                <%= user.email %>

                            </td>




                            <td>

                                <%= user.phone || "N/A" %>

                            </td>




                            <td class="address">


                                <%= user.house_no || "" %>

                                    <%= user.street || "" %>

                                        <br>


                                        <%= user.city || "" %>

                                            ,

                                            <%= user.state || "" %>


                                                <br>


                                                <%= user.pincode || "" %>


                                                    <br>


                                                    <%= user.landmark || "" %>


                            </td>





                            <td>


                                <span class="role">

                                    <%= user.role %>

                                </span>


                            </td>




                            <td>

                                <%= user.created_at.toDateString() %>

                            </td>




                            <td>


                                <a href="/admin/users/delete/<%= user.id %>" class="delete"
                                    onclick="return confirm('Delete User?')">

                                    Delete

                                </a>


                            </td>



                        </tr>


                        <% }) %>



                </tbody>


            </table>


        </div>


    </div>



</body>


</html>